name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Verify AWS identity
        run: aws sts get-caller-identity

      - name: Login to Amazon ECR
        run: |
          REGISTRY=$(echo "${{ secrets.ECR_REPO }}" | cut -d'/' -f1)
          echo "Logging into registry: $REGISTRY"
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
          | docker login --username AWS --password-stdin $REGISTRY

      - name: Build image
        run: docker build -t static-website .

      - name: Tag image
        run: docker tag static-website:latest ${{ secrets.ECR_REPO }}:latest

      - name: Push image
        run: docker push ${{ secrets.ECR_REPO }}:latest
